* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #F7F9FC;
}

.header{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.nav-links{
    display: flex;
    align-items: center;
}

.nav{
    background-color: #3A7BD5;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
}

.nav a{
    margin: 10px;
}

.calendar{
    flex: 1;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: auto 1fr;
}

.date-bar{
    background-color: #3A7BD5;
    margin: 10px;
    grid-row: 1;
    grid-column: 1 / span 7;
    display: flex;
    justify-content: space-around;
}

.date{
    margin: 10px;
}

.events{
    margin: 10px;
    grid-row: 2;
    grid-column: 1 / span 7;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: auto;
    gap: 10px;
}

.day{
    padding: 10px;
    background-color: #3A7BD5;
}

.event-list{
    list-style-position: inside;
}